node_modules/
.env
.DS_Store
*.log
build/
Backend/config/serviceAccountKey.json
C:/react/career-guide-system/career-guidence-app/MachineLearningModel/
C:/react/career-guide-system/career-guidence-app/Backend/MyModels/
